.centre {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-nav {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}