.form {
    width: 700px;
    background-color: #dfa2e2;
    opacity: 1;
    background: repeating-linear-gradient( -45deg,rgb(244, 159, 193), rgb(84, 168, 232), rgb(244, 159, 193), rgb(84, 168, 232), 100px );
  }