body {
  margin: 0;
  font-family: 'Courier New', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to right, rgb(84, 168, 232), rgb(244, 159, 193));
}

code {
  font-family: 'Courier New', source-code-pro, Menlo, Monaco, Consolas, monospace;
}
